main {
  min-height: 75vh;
}

header, footer {
  background-color: #333;
  color : white;
  height: 8em;
}

.delete-list-btn {
  color: rgb(140, 0, 0);
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  top: 2%;;
  right: 2%
}

.delete-item-btn {
  background-color: red;
  cursor: pointer;
  padding: 0.35em;
}